body {
    margin: 0 auto;
    background-color: #222222;
}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
}

h1 {
    text-align: center;
}

h2 {
    color: #747474;    
    font-family: 'Megrim', cursive;
    font-size: 1.75em;
    cursor: pointer;
    margin: 15px;
}

header {
    width: 25%;
    justify-content: space-evenly;
}

.home {
    display: flex;
    justify-content: flex-end;
    height: 15%;
}

.main {
    height: 85%;
}

.outer {
    flex-wrap: wrap;
    height: 100vh;
}

section {
    padding: 15px;
}

span {
    width: 100px;
    padding: 15px;
    margin: 15px 15px 15px 0;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5em;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

span:hover {
    width: 125px;
}

span:nth-child(1) {
    background-color: #FF642F;
}

span:nth-child(2) {
    background-color: #3FEEE6;
}

span:nth-child(3) {
    background-color: #FFE400;
}

span:nth-child(4) {
    background-color: #1AE294;
}